<!doctype html>
<html lang="{{ site:short_locale }}" class="scroll-smooth">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ (title ?? site:name) | sanitize }} | Sheltersuit Foundation</title>
        
        <!-- Preconnect Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&family=Oswald:wght@500;600;700&display=swap" rel="stylesheet">
        
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="antialiased bg-white font-sans leading-normal text-zinc-900 selection:bg-[#FFD100] selection:text-black">
        {{ partial:partials/header }}

        <main>
            {{ template_content }}
        </main>

        {{ partial:partials/footer }}
    </body>
</html>
